body{
    background: linear-gradient(to bottom, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 80%;
}